<%- include('header'); -%>

<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>
<div class="box">
    <% for(i=0; i<newListItems.length; i++) { %>
    <div class="item">
        <input type="checkbox">
        <p id="listItem" class="para"><%= newListItems[i] %></p>
        <form action="/remove" method="post">
            <input id="removeItem" name="removeItem" type="text" hidden value=<%= newListItems[i] %>>
            <button type="submit" class="sm-btn" name="listType" value=<%= listTitle %>>X</button>
        </form>
    </div>
    <% } %>
    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="Add New Item" autocomplete="off">
        <button type="submit" name="listType" value=<%= listTitle %>>+</button>
    </form>
</div>
<%- include('footer'); -%>